node_modules/
*.tsbuildinfo
.next/
__pycache__/
*.pyc
.venv/
venv/
.ruff_cache/
.pytest_cache/
.env
.env.local
.env.prod
.env.*.local
apps/backend/credentials/
.DS_Store
*.log
*AGENT.md
*CLAUDE.md
apps/backend/service-account.json
SETUP.md
.claude
apps/backend/credentials